/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.radio img {
  opacity: .5;
}
.radio:hover img,.radio.checked img {
  opacity: 1;
}
.colors {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
  /*position: relative;
  top: 38px;*/
}
.form-inline .radio {
  display: block;
}
form .form-group {
  margin-top: -80px;
  margin-right: 1em;
}
#demo {
  margin-top: -80px;
}
#url {
  display: block;
  margin-top: 10px;
  width: 100%;
}
.border {
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  padding: 1ex;
}
.border h3 {
  margin: 0;
  margin-bottom: 1ex;
}
.demo-form {
  height: 200px;
}
.service-form {
  height: 185px;
  margin-bottom: 4ex;
}
.service-form input {
  width: 580px;
}
.preview {
  float: right;
  margin-top: -27px;
}
.pngdemo {
  margin-top: -14px;
}
.notice {
  padding-left: 5px;
}
